@model MockProjectSolution.Application.Catalog.Products.Dtos.ProductViewModel

@{
    ViewData["Title"] = "Thông tin sản phẩm";
}
    <script>
        function bigger() {
            $('.img').css("height", "500px");
            $('.img').css("width", "800px");
        }
    </script>
<div class="container-fluid">
    <h1 class="mt-4">Thông tin sản phẩm</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
        <li class="breadcrumb-item active">Thông tin sản phẩm</li>
    </ol>

    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="Product">Về danh sách</a>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Price)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Price)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Account)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Account)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Password)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Password)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Category)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Category)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Image)
                        </dt>
                        <dd class="col-sm-10" >
                            <img src="https://localhost:5001/images/@Model.Image"
                                 class="img"
                                 height="40" width="40"
                                 asp-append-version="true" onclick="bigger()" />
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>