@model IEnumerable<MockProjectSolution.Data.Entities.Product>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Home Page";
}

<h4 class="text-center text-uppercase">List of product</h4>

<p>
    <a action="/Home/Create" href="/home/create" class="btn btn-sm btn-primary rounded-0 text-uppercase"><i class="fas fa-plus-circle"></i> Add New</a>

</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Price)</th>
            <th>@Html.DisplayNameFor(model => model.Account)</th>
            <th>@Html.DisplayNameFor(model => model.Password)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>@Html.DisplayNameFor(model => model.CategoryId)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>
                    <img src="~/images/@product.Image"
                         class="rounded-circle"
                         height="40" width="40"
                         asp-append-version="true" />
                    @product.Name
                </td>
                <td>@product.Price</td>
                <td>@product.Account</td>
                <td>@product.Password</td>
                <td>@product.Description</td>
                <td>@product.CategoryId</td>
            </tr>

        }
    </tbody>
</table>
